<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="sign-up__wrapper">
            <% if(errorMessage){%>
                <div class="user-message user-message--error"><%=errorMessage%></div>
            <%}%>
            <p class="centered bold">
                PLEASE NOTE THAT THIS IS A FAKE SHOP
            </p>
            <p class="centered sign-up__warning">All content on this website was created as an exercise to master Node.js EJS Express and MongoDb skills. All products and payment processes are fake and won't lead to any delivery. For any inquiries on my work or to be granted Admin Access please contact me on my  <a href="https://www.linkedin.com/in/lucie-ory-4aa50038/">linkedin account</a></p>
            <form class="login-form" action="/signup" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="form-control">
                    <label for="email">E-Mail</label>
                    <input 
                    class="<%= validationErrors.find(error=> error.param==='email') ? 'invalid' : ''%>"
                    type="email" 
                    name="email" 
                    id="email" 
                    value="<%=oldInput.email%>">
                </div>
                <div class="form-control">
                    <label for="password">Password</label>
                    <input 
                    class="<%= validationErrors.find(error=> error.param==='password') ? 'invalid' : ''%>"
                    type="password" 
                    name="password" 
                    id="password" 
                    value="<%=oldInput.password%>">
                </div>
                <div class="form-control">
                    <label for="confirmPassword">Confirm Password</label>
                    <input 
                    class="<%= validationErrors.find(error=> error.param==='confirmPassword') ? 'invalid' : ''%>"
                    type="password" 
                    name="confirmPassword" id="confirmPassword"
                    value="<%=oldInput.confirmPassword%>">
                </div>
                <div class="centered">
                    <button class="btn sign-up__btn" type="submit">SignUp</button>
                </div>
            </form>
        </div>
    </main>
<%- include('../includes/end.ejs') %>