<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(errorMessage){%>
            <div class="user-message user-message--error"><%=errorMessage%></div>
        <%}%>
        <form 
        class="product-form" 
        action="/admin/<% if (editing){%>edit-product <% } else { %>add-product<% } %>" 
        method="POST"
        enctype="multipart/form-data">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-control">
                <label for="title">Title</label>
                <input
                class="<%= validationErrors.find(error=> error.param==='title') ? 'invalid' : ''%>" 
                type="text" 
                name="title" 
                id="title" 
                value="<% if(editing || hasError){%> <%=product.title%> <%}%>">
            </div>

            <div class="form-control">
                <label for="image">Product Illustration</label>
                <input 
                    type="file" 
                    name="image" 
                    id="image" 
                />
                <% if(editing){%>
                    <img src="/<%=product.imageUrl%>" alt="product image" style="max-width: 150px;">
                <%}%>
            </div>

            <div class="form-control">
                <label for="productImage">Product Picture</label>
                <input 
                    type="file" 
                    name="productImage" 
                    id="productImage" 
                />
                <% if(editing){%>
                    <img src="/<%=product.productImageUrl%>" alt="product image" style="max-width: 150px;">
                <%}%>
            </div>

            <div class="form-control">
                <label for="container">Product Container</label>
                <select
                class="<%= validationErrors.find(error=> error.param==='container') ? 'invalid' : ''%>" 
                name="container" 
                id="container" 
                >
                <%
                    var options = ["500ml","1L"];
                    for ( var i = 0; i < options.length; i++ )
                    {

                        %><option value="<%=options[ i ] %>"><%=options[i] %></option><%
                    }
                %>
                </select>
            </div>

            <div class="form-control">
                <label for="price">Product Price</label>
                <input 
                    class="<%= validationErrors.find(error=> error.param==='price') ? 'invalid' : ''%>"
                    type="number" 
                    name="price" 
                    id="price" 
                    step="0.01" 
                    value="<% if (editing  || hasError) { %><%= product.price %><% } %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea 
                    class="<%= validationErrors.find(error=> error.param==='description') ? 'invalid' : ''%>"
                    name="description" 
                    id="description" 
                ><% if(editing || hasError){%> <%=product.description%> <%}%></textarea>
            </div>
            <div class="form-control">
                <label for="ingredients">Ingredients</label>
                <textarea 
                    class="<%= validationErrors.find(error=> error.param==='description') ? 'invalid' : ''%>"
                    name="ingredients" 
                    id="ingredients" 
                ><% if(editing || hasError){%> <%=product.ingredients%> <%}%></textarea>
            </div>
            <% if (editing){%> 
                <input type="hidden" value="<%= product._id %>" name="productId">
            <%}%>
            <button class="btn" type="submit">
                <% if (editing){ %> 
                    Update Product 
                <%}else{%> 
                    Add Product 
                <%}%>
            </button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>