<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
<link rel="stylesheet" href="/css/checkout.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
<main>
    <div class="centered">
        <h2>Delicious order nearly on it's way!</h2>
        <p>Hurry up and order before it begings to melt!</p>
        <img src="/images/ice-cream-truck.png" alt="ice cream truck" class="checkout__icon">
    </div>
    <ul class="cart__item-list">
        <% products.forEach(p => {%>
            <li class="cart__item"> 
                <h1><%= p.productId.title %></h1>
                <h2>Quantity : <%= p.quantity%></h2>
            </li>
        <% })%>
    </ul>
    <div class="centered">
        <h2>Total: <%=totalSum%>$</h2>
    </div>
    <div class="centered">
        <button id="order-btn" class="btn">ORDER</button>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
            var Stripe = Stripe('pk_test_XoFnrGeZTEUzWJAHIwfTqN5j00YEkcmnP3');
            var orderBtn = document.getElementById('order-btn');
            orderBtn.addEventListener('click', function(){
                Stripe.redirectToCheckout({
                    sessionId: '<%= sessionId %>'
                })
            });
        </script>
    </div>
</main>
<%- include('../includes/end.ejs') %>